@charset "UTF-8";

h2 {
	display: block;
	font-weight: normal;
/*	border-left: solid 4px orange;*/
	padding: 10px 0 10px 8px;
	margin: 10px 0 24px;
}

section:nth-of-type(odd)>h2 {
	border-left: solid 6px orange;
}

section:nth-of-type(even)>h2 {
	border-left: solid 6px yellow;
}

section {
	margin-bottom: 40px;
}

section:last-of-type {
	margin-bottom: 0;
}

p.popup {
	text-align: right;
}

p.popup img {
    border-radius: 10px;
    width: 36%;
}