div.stage-navi {
	height: 2.5em;
}

div.stage-navi>div:nth-of-type(odd) {
	float: left;
	width: 45%;
	text-align: left;
}

div.stage-navi>div:nth-of-type(even) {
	float: right;
	width: 45%;
	text-align: right;
}

div.stage-navi + div {
	clear: both;
	margin-top: 0.5em;
}

.stage-input-body section {
	margin-bottom: 24px;
}