@CHARSET "UTF-8";

body {
	font-family: Meiryo,"メイリオ",sans-serif
}

.normal {
	font-size: 100%;
}

.bold {
	font-weight: bold;
}

h1, h2, h3, h4 {
	margin-top: 1em;
}

dt {
	margin-bottom: 0.5em;
}

.nowrap {
	white-space: nowrap;
}

.banner {
	max-width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

section.detail section {
	max-width: 85%;
	margin: auto;
}

footer {
	background-color: Gold;/*PeachPuff;*/
	color: Snow;
	text-align: center;
	font-family: Meiryo,"メイリオ"
}

.inlinewidth8em {
	display: inline-block;
	width: 8em;
}

.inlinewidth6em {
	display: inline-block;
	width: 6em;
}

.inlinewidth5em {
	display: inline-block;
	width: 5em;
}

.inlinewidth45em {
	display: inline-block;
	width: 4.5em;
}

.inlinewidth4em {
	display: inline-block;
	width: 4em;
}

.blinking {
	-webkit-animation:blink 0.8s ease-in-out infinite alternate;
	-moz-animation:blink 0.8s ease-in-out infinite alternate;
	animation:blink 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}


.red {
	color: red;
}
.pink {
	color: hotpink;
}

/* === スマートフォン用の設定 ===*/
@media only screen and (max-width: 599px) {
	body {
		font-size: 80%;
	}
}